{% extends "layout.html.twig" %}

{% block otherStylesheet  %}
    <link rel="stylesheet" href="{{ constant('PATH_URL_CSS') }}comentario.css" type="text/css" />
    <link rel="stylesheet" href="{{ constant('PATH_URL_VENDOR') }}sweetalert-master/dist/sweetalert.css" type="text/css" />
{% endblock %}

{% block otherJavascripts %}
    <script src="{{ constant('PATH_URL_VENDOR') }}twbs/bootstrap/js/button.js"></script>
    <script src="{{ constant('PATH_URL_VENDOR') }}sweetalert-master/dist/sweetalert.min.js"></script>
    <script src="{{ constant('PATH_URL_VENDOR') }}twbs/bootstrap/js/modal.js"></script>
    <script src="{{ constant('PATH_URL_VENDOR') }}twbs/bootstrap/js/tooltip.js"></script>
    <script type="text/javascript">
        function responder(idComentario, tag) {
            $("#comentarioModal").html(tag.closest('tr').find("td:nth-child(3)").html());
            $("#idModal").val(idComentario);
            $('#contestarForm').trigger("reset");
            $("#destinatarioModal").html(tag.closest('tr').find("td:nth-child(4)").html());
            $("#contestarModal").modal({
                "show": true,
                "keyboard": false,
                "backdrop": "static",
            });
        }
        $(document).ready(function () {
            $('#contestarForm').submit(function (event) {
                //cambiar estado del boton submit
                $("#contestarFormSubmit").button('loading');
                var postData = $(this).serializeArray();
                $.ajax({
                    url: "{{ constant('ROOT_URL') }}comentario.php?action=send_response",
                    type: "POST",
                    data: postData,
                    dataType: "json",
                    success: function (data, textStatus, jqXHR) {
                        $("#contestarFormSubmit").button('reset');
                        $('#contestarModal').modal('hide');
                        if (data.error) {
                            swal("Error!", data.msj, "error");
                        } else {
                            swal({
                                title: "Listo!",
                                text: "Su respuesta ha sido enviada con éxito.",
                                type: "success",
                                showCancelButton: false,
                                confirmButtonText: "Cerrar",
                                closeOnConfirm: true
                            }, function (isConfirm) {
                                if (isConfirm) {
                                    location.reload();
                                }
                            });
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        swal("Error!", "No se ha podido guardar los cambios en el sistema." + data.msj, "error");
                    }
                });
                event.preventDefault();
            });
        });
    </script>
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-3 containerPublicidad">
                {% include  "publicidad_4.html.twig" %}
            </div>
            <div id="comentarioContainer" class="col-md-9">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                    </div>
                    <div class="panel-body">
                        <div class="page-header">
                            <h1><span class="glyphicon glyphicon-envelope"></span>  Consultas <small>- pendientes por responder</small></h1>
                        </div>
                        <table class="table table-condensed table-striped table-bordered">
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Couch</th>
                                <th class="text-center">Pregunta</th>
                                <th class="text-center">Autor</th>
                                <th class="text-center">Realizado</th>
                                <th class="text-center">Acción</th>
                            </tr>
                            {% for pendiente in pendientes %}
                                <tr>
                                    <td class="text-center">{{loop.index}}</td>
                                    <td class="">
                                        <a href="{{ constant('ROOT_URL') }}couch.php?action=show&id={{pendiente.idCouch}}">{{pendiente.titulo | capitalize}}</a>
                                    </td>
                                    <td>
                                        <em>{{pendiente.pregunta |capitalize}}</em>
                                    </td>
                                    <td class="">
                                        <strong>{{pendiente.apellido}}</strong> {{pendiente.nombre}}
                                    </td>
                                    <td class="text-center">{{pendiente.fecha | date('d/m/Y  H:i')}}</td>
                                    <td class="text-center tipoCouchAccion">
                                        <a href="#"  onclick="responder({{pendiente.idComentario}}, $(this));">
                                            <span class="glyphicon glyphicon-edit"></span> Responder
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="panel-footer">
                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                    </div>
                    <div class="panel-body">
                        <div class="page-header">
                            <h1><span class="glyphicon glyphicon-envelope"></span> Consultas <small>- repondidas por ti</small></h1>
                        </div>
                        <table class="table table-condensed table-striped table-bordered">
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Couch</th>
                                <th class="text-center">Pregunta</th>
                                <th class="text-center">Autor</th>
                                <th class="text-center">Tu respuesta</th>
                            </tr>
                            {% for respondida in respondidas %}
                                <tr>
                                    <td class="text-center">{{loop.index}}</td>
                                    <td class="">
                                        <a href="{{ constant('ROOT_URL') }}couch.php?action=show&id={{respondida.idCouch}}">{{respondida.titulo | capitalize}}</a>
                                    </td>
                                    <td>
                                        <em>{{respondida.pregunta |capitalize}}</em>
                                    </td>
                                    <td class="">
                                        <strong>{{respondida.apellido}}</strong> {{respondida.nombre}}
                                    </td>
                                    <td><strong>{{respondida.respuesta}}</strong></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
            <div class="col-md-12  containerPublicidad">
                {% include  "publicidad_3.html.twig" %}
            </div>
        </div>
        <div id="contestarModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="contestarForm" class="form-horizontal">
                        <input id="idModal" type="hidden" name="id" value="">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Contestar</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group form-group-lg">
                                <label for="passActual" class="col-sm-3 control-label">Destinatario</label>
                                <div class="col-sm-9">
                                    <p id="destinatarioModal" class="form-control-static"></p>
                                </div>
                            </div>
                            <div class="form-group form-group-lg">
                                <label for="passActual" class="col-sm-3 control-label">Comentario</label>
                                <div class="col-sm-9">
                                    <p id="comentarioModal" class="form-control-static"></p>
                                </div>
                            </div>
                            <div class="form-group form-group-lg">
                                <label for="passActual" class="col-sm-3 control-label">Respuesta</label>
                                <div class="col-sm-9">
                                    <textarea id="respuestaModal" name="comentario" class="form-control" rows="7" required="required" placeholder="Ingresar la respuesta..."></textarea>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button id="contestarFormSubmit" type="submit"  data-loading-text="Enviando..." class="btn btn-primary">Contestar</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>

{% endblock %}