{% extends "layout.html.twig" %}

{% block otherStylesheet  %}
    <link rel="stylesheet" href="{{ constant('PATH_URL_CSS') }}reserva.css" type="text/css" />
    <link rel="stylesheet" href="{{ constant('PATH_URL_VENDOR') }}sweetalert-master/dist/sweetalert.css" type="text/css" />
{% endblock %}

{% block otherJavascripts %}
    <script src="{{ constant('PATH_URL_VENDOR') }}twbs/bootstrap/js/button.js"></script>
    <script src="{{ constant('PATH_URL_VENDOR') }}sweetalert-master/dist/sweetalert.min.js"></script>
    <script src="{{ constant('PATH_URL_VENDOR') }}twbs/bootstrap/js/modal.js"></script>
    <script src="{{ constant('PATH_URL_VENDOR') }}twbs/bootstrap/js/tooltip.js"></script>
    <script type="text/javascript">
        function ver_calificacion(idUsuario) {
            $.ajax({
                method: "POST",
                url: "{{ constant('ROOT_URL') }}calificacion.php?action=ver_calificacion",
                dataType: "json",
                data: {"idUsuario": idUsuario},
                beforeSend: function () {

                },
                success: function (data) {
                    swal("" + data.msj);
                }
            });

        }

        function calificar(idReserva) {
            $("#idReservaForm").attr("value", idReserva);
            $("#CalificarModal").modal({
                "show": true,
                "keyboard": false,
                "backdrop": "static",
            });
        }
        $(document).ready(function () {
            $('#calificarForm').submit(function (event) {
                //cambiar estado del boton submit
                $("#calificarSubmit").button('loading');

                $.ajax({
                    type: 'POST',
                    url: "{{ constant('ROOT_URL') }}calificacion.php?action=sent_calificacionCouch",
                    data: new FormData(this),
                    contentType: false,
                    cache: false,
                    dataType: 'json',
                    processData: false
                }).done(function (data) {
                    //Se verifica si hubo error del lado del servidor
                    if (data.error) {
                        // swal("Error!", "Tu Couch NO fue registrado en el sistema." + data.msj, "error");
                    } else {
                        $("#CalificarModal").modal("hide");
                        //Cambiar botton
                        $("#calificarSubmit").button('reset');
                        //Reset form
                        $('#calificarForm').trigger("reset");
                        swal({
                            title: "Felicitaciones!",
                            text: "Tu calificación fue registrada exitosamente!",
                            type: "success",
                            showCancelButton: false,
                            confirmButtonText: "Cerrar",
                            closeOnConfirm: false
                        }, function (isConfirm) {
                            if (isConfirm)
                                $(location).attr('href', "{{ constant('ROOT_URL') }}reserva.php?action=list_realizadas");
                        });
                    }
                });
                event.preventDefault();
            });
        });
    </script>
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-3 containerPublicidad">
                {% include  "publicidad_4.html.twig" %}
            </div>
            <div id="reservaContainer" class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                    </div>
                    <div class="panel-body">
                        <div class="page-header">
                            <h1><span class="glyphicon glyphicon-paste"></span>  Reservas Realizadas<small>- pendientes</small></h1>
                        </div>
                        <table class="table table-condensed table-striped table-bordered">
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Couch</th>
                                <th class="text-center">Comentario</th>
                                <th class="text-center">Fechas</th>
                                <th class="text-center">Reservado</th>
                                <th class="text-center">Estado</th>
                            </tr>
                            {% for realizada in realizadas %}
                                <tr>
                                    <td class="text-center">{{loop.index}}</td>
                                    <td>
                                        <a href="{{ constant('ROOT_URL') }}couch.php?action=show&id={{realizada.idCouch}}">{{realizada.titulo |capitalize}}</a>
                                    </td>
                                    <td>
                                        {{realizada.comentarioReserva |capitalize}}
                                    </td>
                                    <td class="text-center">
                                        Del <strong>{{realizada.fechaInicio | date("d/m/Y")}}</strong> al <strong>{{realizada.fechaFin | date("d/m/Y")}}</strong>
                                    </td>
                                    <td class="text-center">
                                        {{realizada.fechaAlta | date('d/m/Y H:i')}}
                                    </td>

                                    {% if realizada.puntajeCouch is null %}
                                        <td class="text-center estado{{realizada.estado|capitalize}}">
                                            <strong>{{realizada.estado |upper}}</strong>
                                            {% if realizada.estado == 'ACEPTADA' %}
                                                <br>
                                                {%if date(realizada.fechaFin)< date() %}
                                                    <a class="parpadea" onclick=" calificar({{realizada.idReserva}});" href="#">
                                                        <span class="glyphicon glyphicon-hand-right"></span><strong>CALIFICAR!</strong>
                                                    </a>
                                                {%else%}
                                                    <a class="parpadea" href="{{ constant('ROOT_URL') }}usuario.php?action=show&id={{realizada.propietario}}">
                                                        <span class="glyphicon glyphicon-hand-right"></span><strong>CONTACTAR!</strong>
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    {% else %}
                                        <td class="text-center estadoCalificada">
                                            <strong>CALIFICADO</strong>
                                        </td>    
                                    {% endif %}


                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
            <div class="col-md-12  containerPublicidad">
                {% include  "publicidad_3.html.twig" %}
            </div>
        </div>
        <div id="CalificarModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="calificarForm" class="form-horizontal">
                        <input id="idReservaForm" type="hidden" value="" name="idReserva">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title"><span class="glyphicon glyphicon-star-empty"></span> <strong>Calificar Couch</strong></h3>
                        </div>
                        <div class="modal-body">
                            <div class="form-group form-group-lg">
                                <label for="huespedes" class="col-sm-3 control-label">Valoración</label>
                                <div class="col-sm-3">
                                    <select id="calificaionModal" class="form-control" name="calificacion" required="required">
                                        <option class="text-center" value="">----</option>
                                        <option class="text-center" value="1">1</option>
                                        <option class="text-center" value="2">2</otion>
                                        <option class="text-center" value="3">3</option>
                                        <option class="text-center" value="4">4</option>
                                        <option class="text-center" value="5">5</option>
                                        <option class="text-center" value="6">6</option>
                                        <option class="text-center" value="7">7</option>
                                        <option class="text-center" value="8">8</option>
                                        <option class="text-center" value="9">9</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-group-lg">
                                <label for="passActual" class="col-sm-3 control-label">Comentario</label>
                                <div class="col-sm-9">
                                    <textarea id="comentarioModal" name="comentario" class="form-control" rows="7" required="required" placeholder="Ingresar el comentario..."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button id="calificarSubmit" type="submit"  data-loading-text="Calificando..." class="btn btn-primary">Calificar</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>

{% endblock %}